nav {
    height: 60px;
    background-color: #f7f9fb;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    border-bottom: 1px dashed rgb(160, 160, 160);
}
.middle {
    width: 33%;
    display: flex;
    margin-left: 28%;
    justify-content: center;
    align-items: center;
}
.right {
    width: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 4%;
}
#nav_productName {
    display: flex;
    color: #333333;
    font-size: 25px;
    align-items: center;
    cursor: pointer;
}
.nav_op {
    margin: 10px;
    padding: 8px 10px;
    background-color: #fff;
    border-radius: 8px;
}
.nav_op a {
    color: #417bff;
}
.nav_op:hover {
    background-color: #417bff;
}
.nav_op:hover a{
    color: #fff;
}
#nav_op3{
    cursor: pointer;
}
#nav_op4{
    cursor: pointer;
}
.unregister{
    cursor: pointer;
    color: #000;
}
.unregister:hover{
    color: #417bff;
}
.login{
    text-decoration: none;
}
.linktoo{
    cursor: pointer;
    border: none;
    background-color: #fff;
    color: #417bff;
    margin: 10px;
    padding: 8px 10px;
    background-color: #fff;
    border-radius: 8px;
}
.linktoo:hover{
    background-color: #417bff;
    color: #fff;
}
.personal{
    color: #000;
    text-decoration: none;
}
.search{
    top: 50px;
    position: fixed;
    width: 100%;
    height: auto;
    background-color: #f7f9fb;
}
.search>input{
    border: none;
    border-radius: 3px;    
    background-color: rgb(216, 213, 213);
    margin: 20px 1%;
    width: 98%;
    height: 34px;
    font-size: 14px;
    text-indent: 10px;
    outline: none;
}
.search>input:focus{
    outline:1px solid#0fa37f;
    box-shadow: 0px 0px 8px 0px #0fa37f;
}
.search>input:hover{
    outline:1px solid#0fa37f;
}
.sort{
    top: 60px;
    position: fixed;
    width: 100%;
    height: auto;
    background-color: #f7f9fb;
    z-index: 200;
}
.segmented{
    background-color: rgb(216, 213, 213);
    width: 98.3%;
    margin: 10px 0 10px 1%;
    border-radius: 3px;
    height: 45px;
}
.ant-segmented-item{
    width: 25%;
    height: 40px;
    font-size: 20px;
}
.main{
    display: flex;
    width: 100%;
    margin-top: 140px;
}
.menu{
    margin: 0 0 0 5%;
}
.menu-item{
    display: inline-block;
    cursor: pointer;
    border: 1px solid rgb(216, 213, 213);
    width: 220px;
    height: 200px;
    border-radius: 5px;
    margin: 0 50px 30px 0;
    overflow: hidden;
}
.menu-item:hover{
    box-shadow: 2px 0px 10px 2px rgb(216, 213, 213);
    transform:scale(1.1,1.1);
}
.menu-item-img{
    overflow: hidden;
}
.menu-item-img>img{
    width: 45%;
    margin: 15% 20% 0 25%;
}
.menu-item:hover .menu-item-img>img{
    transform: scale(1.2);
    filter: blur(0.9px);
}
.menu-item-name{
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 150px;
    background-color: rgb(216, 213, 213);
    transition: 0.5s;
    opacity: .8;
}
.menu-item-name h2{
    font-size: 25px;
    text-align: center;
    margin-bottom: 0px;
}
.menu-item-name p{
    font-family: 'fangsong';
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    margin-top: 8px;
}
.menu-item:hover .menu-item-name{
    bottom: 100px;
}

