nav {
    height: 7%;
    background-color: #f7f9fb;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    /* border-bottom: 1px dashed rgb(160, 160, 160); */
}
.middle {
    width: 33%;
    display: flex;
    margin-left: 28%;
    justify-content: center;
    align-items: center;
}
.right {
    width: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 4%;
}
#nav_productName {
    display: flex;
    color: #333333;
    font-size: 25px;
    align-items: center;
    cursor: pointer;
}
#nav_productName div{
    margin-left: 20px;
}
#nav_image{
    width: 35px;
}
.nav_op {
    margin: 10px;
    padding: 8px 10px;
    background-color: #fff;
    border-radius: 8px;
    font-size: 18px;
}
.nav_op a {
    color: #417bff;
}
.nav_op:hover {
    background-color: #417bff;
}
.nav_op:hover a{
    color: #fff;
}
#nav_op3{
    cursor: pointer;
}
#nav_op4{
    cursor: pointer;
}
.unregister{
    cursor: pointer;
    color: #000;
}
.unregister:hover{
    color: #7453FC;
}
.login{
    text-decoration: none;
}
/* .linktoo{
    cursor: pointer;
    border: none;
    background-color: #fff;
    color: #417bff;
    margin: 10px;
    padding: 8px 10px;
    background-color: #fff;
    border-radius: 8px;
}
.linktoo:hover{
    background-color: #417bff;
    color: #fff;
} */
.personal{
    color: #000;
    text-decoration: none;
}
.personal:hover{
    color: #7453FC;
}
/* .search{
    top: 50px;
    position: fixed;
    width: 100%;
    height: auto;
    background-color: #f7f9fb;
}
.search>input{
    border: none;
    border-radius: 3px;    
    background-color: rgb(216, 213, 213);
    margin: 20px 1%;
    width: 98%;
    height: 34px;
    font-size: 14px;
    text-indent: 10px;
    outline: none;
}
.search>input:focus{
    outline:1px solid#0fa37f;
    box-shadow: 0px 0px 8px 0px #0fa37f;
}
.search>input:hover{
    outline:1px solid#0fa37f;
} */
.sort{
    top: 9.9%;
    position: fixed;
    width: 100%;
    height: auto;
    background-color: #f7f9fb;
    z-index: 200;
}
.segmented{
    background-image: linear-gradient(to right, #ffe877 0%, #e9997b 100%);
    width: 100%;
    /* margin: 10px 0 0 0; */
    border-radius: 3px;
    height: 45px;
}
.ant-segmented-item{
    width: 25%;
    height: 40px;
    font-size: 20px;
}
.main{
    display: flex;
    width: 100%;
    margin-top: 7.5%;
}
.menu{
    margin: 1% 0 0 5%;
}
.menu-item{
    display: inline-block;
    cursor: pointer;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    margin: 2% 5%;
    overflow: hidden;
    background-image: linear-gradient(45deg, #F902FF 0%, #00DBDE 100%);
}
.menu-item:hover{
    box-shadow: 0 26px 40px -24px #089294;
    transform: translateY(-8px);
}
.menu-item:hover .menu-item-box{
    left: 110%;
    transition: all .8s;
}
.menu-item-box{
    position: absolute;
    left: -110%;
    top: 0;
    width: 300px;
    height: 300px;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
    transform: skew(-30deg);
}
.menu-item-img{
    overflow: hidden;
}
.menu-item-img>img{
    width: 60%;
    margin: 15% 20% 0 20%;
}
.menu-item:hover .menu-item-img>img{
    transform: scale(1.1);
    filter: blur(0.9px);
}
.menu-item-name{
    position: relative;
    bottom: -35px;
    width: 100%;
    height: 150px;
    transition: 0.5s;
    opacity: .8;
}
.menu-item-name h2{
    font-size: 25px;
    text-align: center;
    margin-bottom: 0px;
}
.menu-item-name p{
    font-family: 'fangsong';
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    margin-top: 8px;
}
.menu-item:hover .menu-item-name{
    bottom: 40px;
    background-color: #d30dd6;
}
/* .homes{
    background-attachment:fixed;
    width:100%;
    height:100%;
    min-width: 1000px;
    min-height: calc(86.6vh);
    zoom: 1;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
} */
#certify{
    position: relative;
    width: 100%;
    margin:  auto;
    overflow: hidden;
}
#certify .swiper-slide {
    width: 500px;
    height: 500px;
    transition: 300ms;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
}
.swiper-title{
    height: 60px;
    width: 100%;
    color: #333333;
    font-size: 19px;
    line-height: 60px;
    padding-left: 32px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255) ;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active{
    width: 31px;
    height: 10px;
    background: linear-gradient(-90deg, #5FCDFB 0%, #1DAFED 100%);
    border-radius: 5px;
}
.swiper-slide-active {
    cursor: pointer;
    .swiper-askr{
        display: none !important;
    }
}
.swiper-slide{
    .swiper-askr{
        display: block;
    }
}
.swiper-askr{
    position: absolute;
    background: rgba(0, 0, 0, .4);
    width: 660px;
    height: 468px;
    top: 0;
    left: 0;
}
.swiper-button-prev,.swiper-button-next{
    width: 52px;
    height: 52px;
    background: #000000;
    opacity: 0.6;
    border-radius: 50%;
}
.swiper-button-prev{
    left: 26px;
}
.swiper-button-next{
    right: 26px;
}
.swiper-button-next:after,.swiper-button-prev:after{
    color: #fff !important;
    transform: scale(0.4);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 7px;
    cursor: pointer;
}
.col-lg-12{
    filter: contrast(30);
}
.col-lg-12 h2{
    animation: showup 2s forwards;
}
.col-lg-12 h6{
    animation: showup 2s forwards;
}
@keyframes showup {
    from{
        letter-spacing: -10px;
        filter: blur(5px);
    }
    to{
        letter-spacing: 4px;
        filter: blur(0px);
    }
}
